<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container">
    <h2>글 상세조회</h2>
    <table class="table">
        <tr>
            <td>글번호</td>
            <td>작성자</td>
            <td>제목</td>
            <td>내용</td>
            <td>조회수</td>
            <td>작성시간</td>
            <td>사진</td>
            <div th:if="${session.loginEmail}">
                <div th:if="${session.loginEmail.toString()} == ${board.boardWriter}">
                    <td>수정</td>
                    <td>삭제</td>
                </div>
                <div th:if="${session.loginEmail.toString().equals('admin')}">
                    <td>삭제</td>
                </div>
            </div>
        </tr>
        <tr>
            <td th:text="${board.bid}"></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="${board.boardTitle}"></td>
            <td th:text="${board.boardContents}"></td>
            <td th:text="${board.boardHits}"></td>
            <td th:text="*{#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td><img th:src="@{|/upload/${board.boardFileName}|}" width="150" height="150" alt=""></td>
            <div th:if="${session.loginEmail}">
                <div th:if="${session.loginEmail.toString()} == ${board.boardWriter}">
                    <td>
                        <button th:onclick="updateById()">수정하기</button>
                    </td>
                    <td>
                        <button th:onclick="deleteById()">삭제하기</button>
                    </td>
                </div>
                <div th:if="${session.loginEmail.toString().equals('admin')}">
                    <td>
                        <button th:onclick="deleteById()">삭제하기</button>
                    </td>
                </div>
            </div>
            <div th:unless="${session.loginEmail}">
            </div>

        </tr>
    </table>
</div>
</body>
<script th:inline="javascript">
    const updateById = () => {
        location.href = "/board/update-form/" + [[${board.bid}]];
    }

    const deleteById = () => {
        location.href = "/board/deleteById" + [[${board.bid}]];
    }

</script>
</html>