<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${session.loginEmail}">
    <div th:if="${session.loginEmail.toString().equals('admin')}">
        <a href="/member/admin">관리자모드</a>
    </div>
    <div>
        <a href="/member/logout">로그아웃</a>
    </div>
    <div>
        <a th:href="@{|/member/detail/${session.loginId}|}">마이페이지</a>
    </div>
    <div>
        <a href="/board/save-form">글작성</a>
    </div>
</div>
<div th:unless="${session.loginEmail}">
    <div>
        <a href="/member/login-form">로그인</a>
    </div>
    <div>
        <a href="/member/save-form">회원가입</a>
    </div>
</div>
<a href="/board">글 목록</a>
</body>
</html>